body {
  background: linear-gradient(
    to left,
    hsl(188, 45%, 45%) 15%,
    hsl(94, 62%, 93%) 50%,
    hsl(31, 91%, 60%)
  );
}

.lorem {
  font-size: 0.75rem;
  padding: 2em;

  text-shadow: 0 0 0.025rem gray;
}

.card a {
  text-decoration: none;
}

.people {
  list-style: none;
}

.locations {
  list-style: none;
}
